In [ ]:
# import pandas as pd
# import requests
# from io import StringIO

# # GitHub CSV 파일의 URL
# household_url = ('https://raw.githubusercontent.com/DartB-2024-1st-Toy-Project/Photobooth/main/data/%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EC%83%81%EA%B6%8C%EB%B6%84%EC%84%9D%EC%84%9C%EB%B9%84%EC%8A%A4(%EC%86%8C%EB%93%9D%EC%86%8C%EB%B9%84-%EC%83%81%EA%B6%8C%EB%B0%B0%ED%9B%84%EC%A7%80).csv')

# # Get the content from the URL
# response = requests.get(household_url)

# # Decode the content using different encodings
# data = response.content.decode('utf-8')
# except UnicodeDecodeError:
#     data = response.content.decode('ISO-8859-1')

# # Read the CSV content into a DataFrame
# df = pd.read_csv(StringIO(data))

# # Display the DataFrame
# print(df)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
from scipy.stats import norm

In [3]:
# 한글 폰트 설정
import matplotlib.font_manager as fm
font_list = fm.findSystemFonts(fontpaths = None, fontext = 'ttf')
from matplotlib import font_manager, rc
font_path = 'C:/Windows/Fonts/NanumGothic.ttf'
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family = font)

#상가

In [6]:
rent_df = pd.read_csv('지역별임대료_소규모_상가.csv')

In [8]:
rent_df.head(20)

,지 역,Unnamed: 1,Unnamed: 2,2022년 01분기,2022년 02분기,2022년 03분기,2022년 04분기,2023년 01분기,2023년 02분기,2023년 03분기,2023년 04분기
0,전체,NaN,NaN,19.4,19.4,19.4,19.4,19.4,19.4,19.4,19.4
1,서울,NaN,NaN,49.0,49.1,49.2,48.9,49.0,49.2,49.5,49.7
2,NaN,도심,NaN,65.9,65.9,66.1,65.9,66.1,66.4,66.8,67.2
3,NaN,NaN,광화문,81.4,81.5,81.8,82.5,83.1,82.5,83.0,83.2
4,NaN,NaN,남대문,62.4,62.6,63.2,63.2,63.3,63.9,64.0,64.3
5,NaN,NaN,동대문,47.5,47.6,47.6,47.3,47.2,47.8,48.0,48.0
6,NaN,NaN,명동,137.9,137.9,137.8,137.8,138.1,138.2,138.6,140.4
7,NaN,NaN,시청,82.9,82.9,83.4,83.7,83.8,84.6,85.9,87.6
8,NaN,NaN,을지로,61.0,61.1,61.5,56.7,56.7,55.6,56.4,57.3
9,NaN,NaN,종로,65.8,65.9,66.2,66.4,66.9,67.5,67.8,68.0
10,NaN,NaN,충무로,52.9,52.9,53.0,52.6,52.8,53.1,53.6,53.4
11,NaN,강남,NaN,59.2,59.3,59.4,57.8,58.2,58.6,59.0,59.3
12,NaN,NaN,강남대로,102.8,103.1,103.0,85.0,85.2,85.5,85.7,86.3
13,NaN,NaN,교대역,40.8,40.9,40.9,40.7,40.9,40.9,41.0,41.0
14,NaN,NaN,남부터미널,35.5,35.5,35.5,35.4,38.3,38.5,38.9,39.0
15,NaN,NaN,논현역,59.8,63.9,64.0,63.9,64.9,65.0,66.0,66.1
16,NaN,NaN,도산대로,46.7,45.1,45.1,45.0,45.3,45.4,45.5,45.5
17,NaN,NaN,신사역,69.5,69.7,69.7,69.8,70.3,70.8,71.0,71.4
18,NaN,NaN,압구정,43.1,43.3,43.8,43.8,45.9,48.2,49.7,50.6
19,NaN,NaN,청담,61.1,61.3,61.4,61.6,61.6,62.2,63.0,63.0

In [10]:
rent_df.columns

# * 통계표명 :,지역별임대료_소규모_상가,,,,,,,,,
# * 수록기간 :,2022년 01분기 ~ 2023년 04분기,,,,,,,,,
# * 조회기간 :,2022년 01분기 ~ 2023년 04분기,,,,,,,,,
# * 출처 :,국토교통부,,,,,,,,,
# * 자료다운일자 :,2024.01.25 10:24:54,,,,,,,,,
# * 단위 :,천원/㎡,,,,,,,,,

Index(['지 역', 'Unnamed: 1', 'Unnamed: 2', '2022년 01분기', '2022년 02분기',
       '2022년 03분기', '2022년 04분기', '2023년 01분기', '2023년 02분기', '2023년 03분기',
       '2023년 04분기'],
      dtype='object')

In [18]:
rent_df.drop(columns=['2022년 01분기', '2022년 02분기',
       '2022년 03분기', '2022년 04분기', '2023년 01분기', '2023년 02분기', '2023년 03분기'], inplace=True)

In [19]:
rent_df

     지 역 Unnamed: 1 Unnamed: 2  2023년 04분기
0     전체        NaN        NaN        19.4
1     서울        NaN        NaN        49.7
2    NaN         도심        NaN        67.2
3    NaN        NaN        광화문        83.2
4    NaN        NaN        남대문        64.3
..   ...        ...        ...         ...
249  NaN        NaN        NaN         NaN
250  NaN        NaN        NaN         NaN
251  NaN        NaN        NaN         NaN
252  NaN        NaN        NaN         NaN
253  NaN        NaN        NaN         NaN

[254 rows x 4 columns]

In [20]:
rent_df = rent_df.dropna(how='all')

In [21]:
rent_df.isnull().sum()

지 역           58
Unnamed: 1    56
Unnamed: 2     6
2023년 04분기     0
dtype: int64

In [22]:
rent_df.nunique()

지 역            2
Unnamed: 1     4
Unnamed: 2    54
2023년 04분기    56
dtype: int64

In [23]:
set(rent_df['지 역'])

{nan, '서울', '전체'}

In [28]:
#단계 1
#리스트를 만든다.
hotplace_list = rent_df['Unnamed: 2'].dropna().tolist()
hotplace_list

['광화문',
 '남대문',
 '동대문',
 '명동',
 '시청',
 '을지로',
 '종로',
 '충무로',
 '강남대로',
 '교대역',
 '남부터미널',
 '논현역',
 '도산대로',
 '신사역',
 '압구정',
 '청담',
 '테헤란로',
 '공덕역',
 '당산역',
 '동교/연남',
 '망원역',
 '신촌/이대',
 '영등포역',
 '홍대/합정',
 '가락시장',
 '건대입구',
 '경희대',
 '군자',
 '노량진',
 '독산/시흥',
 '뚝섬',
 '목동',
 '미아사거리',
 '불광역',
 '사당',
 '상계역',
 '상봉역',
 '서울대입구역',
 '성신여대',
 '수유',
 '숙명여대',
 '신림역',
 '연신내',
 '오류동역',
 '왕십리',
 '용산역',
 '이태원',
 '잠실/송파',
 '잠실새내역',
 '장안동',
 '천호',
 '청량리',
 '혜화동',
 '화곡']

In [29]:
len(hotplace_list)

54

In [34]:
# 리스트를 데이터프레임으로 변환
hotplace_df = pd.DataFrame(hotplace_list, columns=['장소'])

In [37]:
import pandas as pd
import requests

# 데이터프레임 순회하며 장소 검색 및 정보 저장
def search_places_and_add_info(df):
    # API 정보 설정
    url = "https://dapi.kakao.com/v2/local/search/keyword.json"
    REST_API_KEY = "c93d281b676e49041098ce93d062477d"
    headers = {"Authorization": "KakaoAK {}".format(REST_API_KEY)}

    # 장소 정보를 추가할 리스트 생성
    place_info_list = []

    # 데이터프레임 순회하며 장소 검색 및 정보 추가
    for index, row in df.iterrows():
        keyword = row['장소']
        
        # 요청 파라미터 설정
        params = {
            "query": keyword
        }
        
        # API 호출
        response = requests.get(url, params=params, headers=headers)
        data = response.json()
        
        # 장소 정보 확인
        if 'documents' in data and data['documents']:  # 검색 결과가 비어있지 않은 경우
            for place in data['documents']:
                address = place.get('address_name')
                if address.startswith('서울'):  # 주소가 '서울'로 시작하는 경우
                    place_info = {
                        '이름': row['장소'],
                        '장소명': place.get('place_name'),
                        '주소': address,
                        '전화번호': place.get('phone')
                    }
                    place_info_list.append(place_info)
                    break  # 첫 번째로 찾은 장소 정보만 사용하고 반복문 종료
        else:
            print(f"{keyword}에 대한 검색 결과가 없습니다.")

    # 장소 정보를 데이터프레임으로 변환
    places_df = pd.DataFrame(place_info_list)
    
    return places_df


# 장소 검색 및 정보 추가
places_info_df = search_places_and_add_info(hotplace_df)

# 결과 출력
print(places_info_df)

        이름                    장소명                   주소           전화번호
0      광화문                    광화문      서울 종로구 세종로 1-58   02-3700-3901
1      남대문                    숭례문      서울 중구 남대문로4가 29    02-779-8547
2      동대문                   흥인지문       서울 종로구 종로6가 69   02-2148-1114
3       명동                   명동거리           서울 중구 명동2가
4       시청                 서울특별시청       서울 중구 태평로1가 31         02-120
5      을지로  앰배서더호텔 노보텔앤레지던스 서울동대문     서울 중구 을지로6가 58-5   02-3425-8000
6       종로                    경복궁       서울 종로구 세종로 1-1   02-3700-3900
7      충무로            KB국민은행 중부지점          서울 중구 초동 42   02-2266-2183
8     강남대로                   강남대로       서울 강남구 역삼동 858
9      교대역                교대역 3호선    서울 서초구 서초동 1748-4   02-6110-3401
10   남부터미널                서울남부터미널    서울 서초구 서초동 1446-1      1688-0540
11     논현역                논현역 7호선    서울 강남구 논현동 279-67   02-6311-7321
12    도산대로             CGV 청담씨네시티    서울 강남구 신사동 651-21      1544-1122
13     신사역                신사역 3호선       서울 강남구 신사동 667   02-6110-3371
14     압구정                   압구정지      서울 강남구 압구정동 455
15      청담                청담동명품거리     서울 강남구 청담동 99-21
16    테헤란로            현대백화점 무역센터점     서울 강남구 삼성동 159-7    02-552-2233
17     공덕역                공덕역 5호선    서울 마포구 공덕동 423-29   02-6311-5291
18     당산역                당산역 2호선  서울 영등포구 당산동6가 323-1   02-6110-2371
19   동교/연남                   연남취향    서울 마포구 동교동 113-25  010-2554-9244
20     망원역                망원역 6호선       서울 마포구 망원동 378   02-6311-6211
21   신촌/이대                이화여자대학교     서울 서대문구 대현동 11-1   02-3277-2114
22    영등포역                   영등포역     서울 영등포구 영등포동 618      1544-7788
23   홍대/합정                 홍대화덕피자    서울 마포구 합정동 411-16    02-333-2282
24    가락시장                   가락시장       서울 송파구 가락동 600
25    건대입구              건대입구역 2호선       서울 광진구 화양동 7-3   02-6110-2121
26     경희대            경희대학교 서울캠퍼스      서울 동대문구 회기동 1-5    02-961-0114
27      군자            세종대학교 아사달연못        서울 광진구 군자동 98
28     노량진           사육신역사공원 사육신묘    서울 동작구 노량진동 152-3
29   독산/시흥      코리아세븐 세븐-시흥IC ATM    서울 금천구 독산동 143-12
30      뚝섬                 뚝섬한강공원     서울 광진구 자양동 427-6   02-3780-0521
31      목동                    용왕산            서울 양천구 목동
32   미아사거리                  미아사거리      서울 강북구 미아동 14-2
33     불광역                불광역 3호선     서울 은평구 대조동 13-10   02-6110-3221
34      사당                이수역꼬치거리     서울 동작구 사당동 134-1
35     상계역                상계역 4호선   서울 노원구 상계동 156-203   02-6110-4101
36     상봉역                    상봉역     서울 중랑구 상봉동 100-9    02-432-7783
37  서울대입구역             서울대입구역 2호선     서울 관악구 봉천동 979-2   02-6110-2281
38    성신여대        성신여자대학교 돈암수정캠퍼스     서울 성북구 돈암동 173-1    02-920-7114
39      수유         북한산둘레길 3구간흰구름길           서울 강북구 수유동    02-900-8085
40    숙명여대                숙명여자대학교   서울 용산구 청파동2가 53-12    02-710-9114
41     신림역                신림역 2호선   서울 관악구 신림동 1467-10   02-6110-2301
42     연신내               연신내역 3호선       서울 은평구 갈현동 397   02-6110-3211
43    오류동역               오류동역 1호선        서울 구로구 오류동 66   02-2639-3246
44     왕십리             올리브영 하왕십리점  서울 성동구 하왕십리동 966-12   02-2281-0578
45     용산역                    용산역  서울 용산구 한강로3가 40-999      1544-7788
46     이태원                  이태원거리   서울 용산구 이태원동 119-23
47   잠실/송파            송파나루공원 삼전도비        서울 송파구 잠실동 47
48   잠실새내역              잠실새내역 2호선        서울 송파구 잠실동 33   02-6110-2171
49      천호               천호동로데오거리           서울 강동구 천호동
50     청량리                  홍릉시험림     서울 동대문구 청량리동 207    02-961-2777
51     혜화동                    혜화문      서울 종로구 혜화동 28-5
52      화곡                    까치산  서울 강서구 화곡동 산 162-17

In [53]:
# places_info_df와 rent_df를 merge
merged_df = pd.merge(places_info_df, rent_df, how='left', left_on='이름', right_on='Unnamed: 2')

In [54]:
merged_df

,이름,장소명,주소,전화번호,지 역,Unnamed: 1,Unnamed: 2,2023년 04분기
0,광화문,광화문,서울 종로구 세종로 1-58,02-3700-3901,NaN,NaN,광화문,83.2
1,남대문,숭례문,서울 중구 남대문로4가 29,02-779-8547,NaN,NaN,남대문,64.3
2,동대문,흥인지문,서울 종로구 종로6가 69,02-2148-1114,NaN,NaN,동대문,48.0
3,명동,명동거리,서울 중구 명동2가,,NaN,NaN,명동,140.4
4,시청,서울특별시청,서울 중구 태평로1가 31,02-120,NaN,NaN,시청,87.6
5,을지로,앰배서더호텔 노보텔앤레지던스 서울동대문,서울 중구 을지로6가 58-5,02-3425-8000,NaN,NaN,을지로,57.3
6,종로,경복궁,서울 종로구 세종로 1-1,02-3700-3900,NaN,NaN,종로,68.0
7,충무로,KB국민은행 중부지점,서울 중구 초동 42,02-2266-2183,NaN,NaN,충무로,53.4
8,강남대로,강남대로,서울 강남구 역삼동 858,,NaN,NaN,강남대로,86.3
9,교대역,교대역 3호선,서울 서초구 서초동 1748-4,02-6110-3401,NaN,NaN,교대역,41.0
10,남부터미널,서울남부터미널,서울 서초구 서초동 1446-1,1688-0540,NaN,NaN,남부터미널,39.0
11,논현역,논현역 7호선,서울 강남구 논현동 279-67,02-6311-7321,NaN,NaN,논현역,66.1
12,도산대로,CGV 청담씨네시티,서울 강남구 신사동 651-21,1544-1122,NaN,NaN,도산대로,45.5
13,신사역,신사역 3호선,서울 강남구 신사동 667,02-6110-3371,NaN,NaN,신사역,71.4
14,압구정,압구정지,서울 강남구 압구정동 455,,NaN,NaN,압구정,50.6
15,청담,청담동명품거리,서울 강남구 청담동 99-21,,NaN,NaN,청담,63.0
16,테헤란로,현대백화점 무역센터점,서울 강남구 삼성동 159-7,02-552-2233,NaN,NaN,테헤란로,69.8
17,공덕역,공덕역 5호선,서울 마포구 공덕동 423-29,02-6311-5291,NaN,NaN,공덕역,60.6
18,당산역,당산역 2호선,서울 영등포구 당산동6가 323-1,02-6110-2371,NaN,NaN,당산역,37.1
19,동교/연남,연남취향,서울 마포구 동교동 113-25,010-2554-9244,NaN,NaN,동교/연남,51.8
20,망원역,망원역 6호선,서울 마포구 망원동 378,02-6311-6211,NaN,NaN,망원역,41.4
21,신촌/이대,이화여자대학교,서울 서대문구 대현동 11-1,02-3277-2114,NaN,NaN,신촌/이대,47.5
22,영등포역,영등포역,서울 영등포구 영등포동 618,1544-7788,NaN,NaN,영등포역,34.1
23,홍대/합정,홍대화덕피자,서울 마포구 합정동 411-16,02-333-2282,NaN,NaN,홍대/합정,56.7
24,가락시장,가락시장,서울 송파구 가락동 600,,NaN,NaN,가락시장,30.7
25,건대입구,건대입구역 2호선,서울 광진구 화양동 7-3,02-6110-2121,NaN,NaN,건대입구,46.7
26,경희대,경희대학교 서울캠퍼스,서울 동대문구 회기동 1-5,02-961-0114,NaN,NaN,경희대,46.7
27,군자,세종대학교 아사달연못,서울 광진구 군자동 98,,NaN,NaN,군자,32.1
28,노량진,사육신역사공원 사육신묘,서울 동작구 노량진동 152-3,,NaN,NaN,노량진,26.4
29,독산/시흥,코리아세븐 세븐-시흥IC ATM,서울 금천구 독산동 143-12,,NaN,NaN,독산/시흥,31.2
30,뚝섬,뚝섬한강공원,서울 광진구 자양동 427-6,02-3780-0521,NaN,NaN,뚝섬,51.0
31,목동,용왕산,서울 양천구 목동,,NaN,NaN,목동,35.1
32,미아사거리,미아사거리,서울 강북구 미아동 14-2,,NaN,NaN,미아사거리,37.5
33,불광역,불광역 3호선,서울 은평구 대조동 13-10,02-6110-3221,NaN,NaN,불광역,38.8
34,사당,이수역꼬치거리,서울 동작구 사당동 134-1,,NaN,NaN,사당,44.3
35,상계역,상계역 4호선,서울 노원구 상계동 156-203,02-6110-4101,NaN,NaN,상계역,26.2
36,상봉역,상봉역,서울 중랑구 상봉동 100-9,02-432-7783,NaN,NaN,상봉역,46.5
37,서울대입구역,서울대입구역 2호선,서울 관악구 봉천동 979-2,02-6110-2281,NaN,NaN,서울대입구역,60.6
38,성신여대,성신여자대학교 돈암수정캠퍼스,서울 성북구 돈암동 173-1,02-920-7114,NaN,NaN,성신여대,53.3
39,수유,북한산둘레길 3구간흰구름길,서울 강북구 수유동,02-900-8085,NaN,NaN,수유,37.0
40,숙명여대,숙명여자대학교,서울 용산구 청파동2가 53-12,02-710-9114,NaN,NaN,숙명여대,43.6
41,신림역,신림역 2호선,서울 관악구 신림동 1467-10,02-6110-2301,NaN,NaN,신림역,70.9
42,연신내,연신내역 3호선,서울 은평구 갈현동 397,02-6110-3211,NaN,NaN,연신내,42.4
43,오류동역,오류동역 1호선,서울 구로구 오류동 66,02-2639-3246,NaN,NaN,오류동역,47.1
44,왕십리,올리브영 하왕십리점,서울 성동구 하왕십리동 966-12,02-2281-0578,NaN,NaN,왕십리,45.0
45,용산역,용산역,서울 용산구 한강로3가 40-999,1544-7788,NaN,NaN,용산역,34.1
46,이태원,이태원거리,서울 용산구 이태원동 119-23,,NaN,NaN,이태원,63.4
47,잠실/송파,송파나루공원 삼전도비,서울 송파구 잠실동 47,,NaN,NaN,잠실/송파,34.3
48,잠실새내역,잠실새내역 2호선,서울 송파구 잠실동 33,02-6110-2171,NaN,NaN,잠실새내역,32.5
49,천호,천호동로데오거리,서울 강동구 천호동,,NaN,NaN,천호,56.1
50,청량리,홍릉시험림,서울 동대문구 청량리동 207,02-961-2777,NaN,NaN,청량리,40.6
51,혜화동,혜화문,서울 종로구 혜화동 28-5,,NaN,NaN,혜화동,51.4
52,화곡,까치산,서울 강서구 화곡동 산 162-17,,NaN,NaN,화곡,28.7

In [55]:
merged_df.columns

Index(['이름', '장소명', '주소', '전화번호', '지 역', 'Unnamed: 1', 'Unnamed: 2',
       '2023년 04분기'],
      dtype='object')

In [56]:
merged_df.isnull().sum()

이름             0
장소명            0
주소             0
전화번호           0
지 역           53
Unnamed: 1    53
Unnamed: 2     0
2023년 04분기     0
dtype: int64

In [57]:
#unnamed2 == 이름
merged_df.drop(columns=['전화번호', 'Unnamed: 1', 'Unnamed: 2', '지 역' ], inplace=True)

In [58]:
import pandas as pd
import requests

def get_location(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    # 'KaKaoAK '는 그대로 두시고 개인키만 입력하세요.
    headers = {"Authorization": "KakaoAK c93d281b676e49041098ce93d062477d"}
    response = requests.get(url, headers=headers)
    api_json = response.json()
    if 'documents' in api_json and api_json['documents']:
        address_info = api_json['documents'][0]['address']
        lat = address_info['y']
        lng = address_info['x']
        return lat, lng
    else:
        return None, None

# '주소' 칼럼의 각 요소에 대해 위도와 경도 가져오기
lat_list = []
lng_list = []
for address in merged_df['주소']:
    lat, lng = get_location(address)
    lat_list.append(lat)
    lng_list.append(lng)

# 위도와 경도 정보를 데이터프레임에 추가
merged_df['위도'] = lat_list
merged_df['경도'] = lng_list

# 결과 확인
print(merged_df)

        이름                    장소명                   주소  2023년 04분기  \
0      광화문                    광화문      서울 종로구 세종로 1-58        83.2
1      남대문                    숭례문      서울 중구 남대문로4가 29        64.3
2      동대문                   흥인지문       서울 종로구 종로6가 69        48.0
3       명동                   명동거리           서울 중구 명동2가       140.4
4       시청                 서울특별시청       서울 중구 태평로1가 31        87.6
5      을지로  앰배서더호텔 노보텔앤레지던스 서울동대문     서울 중구 을지로6가 58-5        57.3
6       종로                    경복궁       서울 종로구 세종로 1-1        68.0
7      충무로            KB국민은행 중부지점          서울 중구 초동 42        53.4
8     강남대로                   강남대로       서울 강남구 역삼동 858        86.3
9      교대역                교대역 3호선    서울 서초구 서초동 1748-4        41.0
10   남부터미널                서울남부터미널    서울 서초구 서초동 1446-1        39.0
11     논현역                논현역 7호선    서울 강남구 논현동 279-67        66.1
12    도산대로             CGV 청담씨네시티    서울 강남구 신사동 651-21        45.5
13     신사역                신사역 3호선       서울 강남구 신사동 667        71.4
14     압구정                   압구정지      서울 강남구 압구정동 455        50.6
15      청담                청담동명품거리     서울 강남구 청담동 99-21        63.0
16    테헤란로            현대백화점 무역센터점     서울 강남구 삼성동 159-7        69.8
17     공덕역                공덕역 5호선    서울 마포구 공덕동 423-29        60.6
18     당산역                당산역 2호선  서울 영등포구 당산동6가 323-1        37.1
19   동교/연남                   연남취향    서울 마포구 동교동 113-25        51.8
20     망원역                망원역 6호선       서울 마포구 망원동 378        41.4
21   신촌/이대                이화여자대학교     서울 서대문구 대현동 11-1        47.5
22    영등포역                   영등포역     서울 영등포구 영등포동 618        34.1
23   홍대/합정                 홍대화덕피자    서울 마포구 합정동 411-16        56.7
24    가락시장                   가락시장       서울 송파구 가락동 600        30.7
25    건대입구              건대입구역 2호선       서울 광진구 화양동 7-3        46.7
26     경희대            경희대학교 서울캠퍼스      서울 동대문구 회기동 1-5        46.7
27      군자            세종대학교 아사달연못        서울 광진구 군자동 98        32.1
28     노량진           사육신역사공원 사육신묘    서울 동작구 노량진동 152-3        26.4
29   독산/시흥      코리아세븐 세븐-시흥IC ATM    서울 금천구 독산동 143-12        31.2
30      뚝섬                 뚝섬한강공원     서울 광진구 자양동 427-6        51.0
31      목동                    용왕산            서울 양천구 목동        35.1
32   미아사거리                  미아사거리      서울 강북구 미아동 14-2        37.5
33     불광역                불광역 3호선     서울 은평구 대조동 13-10        38.8
34      사당                이수역꼬치거리     서울 동작구 사당동 134-1        44.3
35     상계역                상계역 4호선   서울 노원구 상계동 156-203        26.2
36     상봉역                    상봉역     서울 중랑구 상봉동 100-9        46.5
37  서울대입구역             서울대입구역 2호선     서울 관악구 봉천동 979-2        60.6
38    성신여대        성신여자대학교 돈암수정캠퍼스     서울 성북구 돈암동 173-1        53.3
39      수유         북한산둘레길 3구간흰구름길           서울 강북구 수유동        37.0
40    숙명여대                숙명여자대학교   서울 용산구 청파동2가 53-12        43.6
41     신림역                신림역 2호선   서울 관악구 신림동 1467-10        70.9
42     연신내               연신내역 3호선       서울 은평구 갈현동 397        42.4
43    오류동역               오류동역 1호선        서울 구로구 오류동 66        47.1
44     왕십리             올리브영 하왕십리점  서울 성동구 하왕십리동 966-12        45.0
45     용산역                    용산역  서울 용산구 한강로3가 40-999        34.1
46     이태원                  이태원거리   서울 용산구 이태원동 119-23        63.4
47   잠실/송파            송파나루공원 삼전도비        서울 송파구 잠실동 47        34.3
48   잠실새내역              잠실새내역 2호선        서울 송파구 잠실동 33        32.5
49      천호               천호동로데오거리           서울 강동구 천호동        56.1
50     청량리                  홍릉시험림     서울 동대문구 청량리동 207        40.6
51     혜화동                    혜화문      서울 종로구 혜화동 28-5        51.4
52      화곡                    까치산  서울 강서구 화곡동 산 162-17        28.7

                  위도                경도
0   37.5759426842615  126.977466217546
1   37.5599795872884  126.975333843944
2    37.571147719768  127.009701558453
3   37.5628878550789   126.98522714432
4    37.566585446882  126.978203640984
5   37.5662707688028  127.004349541813
6   37.5808477574564    126.9768513578
7   37.5638219745994  126.992518969586
8   37.4970572543978  127.028180714381
9   37.4948693588388  127.017320865284
10  37.4841151549993  127.015716354797
11  37.5143011318846   127.03177451842
12  37.5228961570902  127.037049296788
13  37.5196722763952  127.018751560774
14  37.5319760183273  127.028563016169
15  37.5260100861336  127.045849660523
16  37.5085953316928  127.059718502493
17  37.5444872539487   126.95119513916
18  37.5352630374046  126.902962933981
19  37.5604633581069  126.925723198971
20  37.5560572923314  126.910033925408
21  37.5631740311778  126.947807434256
22              None              None
23  37.5482089519285  126.918444420968
24  37.4934828061531  127.111503669539
25   37.540816040886  127.069031304229
26  37.5967126141451  127.051394683223
27  37.5507980803455  127.074575586641
28  37.5139096470956  126.947922408268
29  37.4771021273998  126.898289307994
30   37.528891648674  127.069201213756
31  37.5304364108361  126.870989288343
32  37.6092606055362  127.030352185951
33   37.610345423012   126.92990725913
34  37.4875139855255  126.982082349374
35  37.6610577421447  127.073630157913
36  37.5967689425268  127.086032901906
37  37.4812432482705  126.951616302678
38  37.5921061821567   127.02184546803
39  37.6424621841483  127.022094520762
40  37.5461389791183  126.964933409158
41  37.4841196518392  126.928712092948
42  37.6189326042759  126.920853043578
43  37.4951939156691  126.844904068063
44  37.5625980706971  127.032785493547
45  37.5297680649234  126.964300393659
46  37.5345511721489  126.994728611603
47   37.507704547907  127.100563730672
48  37.5115492555086  127.089194396018
49   37.542221863425   127.12866892591
50  37.5933139665536  127.043845295352
51  37.5879261060913  127.003487479937
52  37.5364589888242  126.843979791872

In [62]:
# NaN 값을 확인하는 코드
merged_df[merged_df.isna().any(axis=1)]

      이름   장소명                주소  2023년 04분기    위도    경도
22  영등포역  영등포역  서울 영등포구 영등포동 618        34.1  None  None

In [65]:
# 위도와 경도를 지정된 값으로 대체합니다. 하드코딩
merged_df.loc[merged_df[merged_df['이름'] == '영등포역'].index, '위도'] = 37.520585868846
merged_df.loc[merged_df[merged_df['이름'] == '영등포역'].index, '경도'] = 126.90771333665

In [66]:
# 다 다르군!
merged_df.nunique()

이름            53
장소명           53
주소            53
2023년 04분기    50
위도            53
경도            53
dtype: int64

In [67]:
rent_fee = merged_df.dropna()

In [68]:
rent_fee

,이름,장소명,주소,2023년 04분기,위도,경도
0,광화문,광화문,서울 종로구 세종로 1-58,83.2,37.5759426842615,126.977466217546
1,남대문,숭례문,서울 중구 남대문로4가 29,64.3,37.5599795872884,126.975333843944
2,동대문,흥인지문,서울 종로구 종로6가 69,48.0,37.571147719768,127.009701558453
3,명동,명동거리,서울 중구 명동2가,140.4,37.5628878550789,126.98522714432
4,시청,서울특별시청,서울 중구 태평로1가 31,87.6,37.566585446882,126.978203640984
5,을지로,앰배서더호텔 노보텔앤레지던스 서울동대문,서울 중구 을지로6가 58-5,57.3,37.5662707688028,127.004349541813
6,종로,경복궁,서울 종로구 세종로 1-1,68.0,37.5808477574564,126.9768513578
7,충무로,KB국민은행 중부지점,서울 중구 초동 42,53.4,37.5638219745994,126.992518969586
8,강남대로,강남대로,서울 강남구 역삼동 858,86.3,37.4970572543978,127.028180714381
9,교대역,교대역 3호선,서울 서초구 서초동 1748-4,41.0,37.4948693588388,127.017320865284
10,남부터미널,서울남부터미널,서울 서초구 서초동 1446-1,39.0,37.4841151549993,127.015716354797
11,논현역,논현역 7호선,서울 강남구 논현동 279-67,66.1,37.5143011318846,127.03177451842
12,도산대로,CGV 청담씨네시티,서울 강남구 신사동 651-21,45.5,37.5228961570902,127.037049296788
13,신사역,신사역 3호선,서울 강남구 신사동 667,71.4,37.5196722763952,127.018751560774
14,압구정,압구정지,서울 강남구 압구정동 455,50.6,37.5319760183273,127.028563016169
15,청담,청담동명품거리,서울 강남구 청담동 99-21,63.0,37.5260100861336,127.045849660523
16,테헤란로,현대백화점 무역센터점,서울 강남구 삼성동 159-7,69.8,37.5085953316928,127.059718502493
17,공덕역,공덕역 5호선,서울 마포구 공덕동 423-29,60.6,37.5444872539487,126.95119513916
18,당산역,당산역 2호선,서울 영등포구 당산동6가 323-1,37.1,37.5352630374046,126.902962933981
19,동교/연남,연남취향,서울 마포구 동교동 113-25,51.8,37.5604633581069,126.925723198971
20,망원역,망원역 6호선,서울 마포구 망원동 378,41.4,37.5560572923314,126.910033925408
21,신촌/이대,이화여자대학교,서울 서대문구 대현동 11-1,47.5,37.5631740311778,126.947807434256
22,영등포역,영등포역,서울 영등포구 영등포동 618,34.1,37.520586,126.907713
23,홍대/합정,홍대화덕피자,서울 마포구 합정동 411-16,56.7,37.5482089519285,126.918444420968
24,가락시장,가락시장,서울 송파구 가락동 600,30.7,37.4934828061531,127.111503669539
25,건대입구,건대입구역 2호선,서울 광진구 화양동 7-3,46.7,37.540816040886,127.069031304229
26,경희대,경희대학교 서울캠퍼스,서울 동대문구 회기동 1-5,46.7,37.5967126141451,127.051394683223
27,군자,세종대학교 아사달연못,서울 광진구 군자동 98,32.1,37.5507980803455,127.074575586641
28,노량진,사육신역사공원 사육신묘,서울 동작구 노량진동 152-3,26.4,37.5139096470956,126.947922408268
29,독산/시흥,코리아세븐 세븐-시흥IC ATM,서울 금천구 독산동 143-12,31.2,37.4771021273998,126.898289307994
30,뚝섬,뚝섬한강공원,서울 광진구 자양동 427-6,51.0,37.528891648674,127.069201213756
31,목동,용왕산,서울 양천구 목동,35.1,37.5304364108361,126.870989288343
32,미아사거리,미아사거리,서울 강북구 미아동 14-2,37.5,37.6092606055362,127.030352185951
33,불광역,불광역 3호선,서울 은평구 대조동 13-10,38.8,37.610345423012,126.92990725913
34,사당,이수역꼬치거리,서울 동작구 사당동 134-1,44.3,37.4875139855255,126.982082349374
35,상계역,상계역 4호선,서울 노원구 상계동 156-203,26.2,37.6610577421447,127.073630157913
36,상봉역,상봉역,서울 중랑구 상봉동 100-9,46.5,37.5967689425268,127.086032901906
37,서울대입구역,서울대입구역 2호선,서울 관악구 봉천동 979-2,60.6,37.4812432482705,126.951616302678
38,성신여대,성신여자대학교 돈암수정캠퍼스,서울 성북구 돈암동 173-1,53.3,37.5921061821567,127.02184546803
39,수유,북한산둘레길 3구간흰구름길,서울 강북구 수유동,37.0,37.6424621841483,127.022094520762
40,숙명여대,숙명여자대학교,서울 용산구 청파동2가 53-12,43.6,37.5461389791183,126.964933409158
41,신림역,신림역 2호선,서울 관악구 신림동 1467-10,70.9,37.4841196518392,126.928712092948
42,연신내,연신내역 3호선,서울 은평구 갈현동 397,42.4,37.6189326042759,126.920853043578
43,오류동역,오류동역 1호선,서울 구로구 오류동 66,47.1,37.4951939156691,126.844904068063
44,왕십리,올리브영 하왕십리점,서울 성동구 하왕십리동 966-12,45.0,37.5625980706971,127.032785493547
45,용산역,용산역,서울 용산구 한강로3가 40-999,34.1,37.5297680649234,126.964300393659
46,이태원,이태원거리,서울 용산구 이태원동 119-23,63.4,37.5345511721489,126.994728611603
47,잠실/송파,송파나루공원 삼전도비,서울 송파구 잠실동 47,34.3,37.507704547907,127.100563730672
48,잠실새내역,잠실새내역 2호선,서울 송파구 잠실동 33,32.5,37.5115492555086,127.089194396018
49,천호,천호동로데오거리,서울 강동구 천호동,56.1,37.542221863425,127.12866892591
50,청량리,홍릉시험림,서울 동대문구 청량리동 207,40.6,37.5933139665536,127.043845295352
51,혜화동,혜화문,서울 종로구 혜화동 28-5,51.4,37.5879261060913,127.003487479937
52,화곡,까치산,서울 강서구 화곡동 산 162-17,28.7,37.5364589888242,126.843979791872

In [70]:
rent_fee.rename(columns={'2023년 04분기': '임대료'}, inplace=True)

In [71]:
rent_fee.columns

Index(['이름', '장소명', '주소', '임대료', '위도', '경도'], dtype='object')

In [69]:
rent_fee.to_csv('seoul_rent_fee.csv', index=False)